body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__nav {
        display: flex;
        flex: 1;
        background-color: #ddd;
        border-bottom: 1px solid black;
    }

    &__nav-list {
        margin: 0;
        list-style: none;
        display: flex;
        padding: 10px 10px;
    }
    &__nav-item {
        display: block;
        margin-right: 20px;
        color: Black;
        text-decoration: none;
        padding: 10px;

        &_active {
            background-color: gold;
            color: Black;
        }
    }

    &__page {
        display: flex;
        flex: 999;
        align-items: center;
        justify-content: center;
    }
}
